<div class="contenedor">
  <div>
    <h2>Publicaciones en la web</h2>
    <button class="btn btn-primary" (click)="goNew()">
      Cargar Nuevas publicaciones
    </button>
    <div *ngIf="publicaciones.length != 0">
      <div *ngFor="let publicacion of publicaciones" class="divNgFor">
        <div>
          <div class="responsive-iframe-container large-screen">
            <div
              [innerHTML]="getSafeIframeUrl(publicacion.iframeLink500 ?? '')"
              class="divInterno"
            ></div>
          </div>
          <div class="responsive-iframe-container medium-screen">
            <div
              [innerHTML]="getSafeIframeUrl(publicacion.iframeLink400 ?? '')"
              class="divInterno"
            ></div>
          </div>
          <div class="responsive-iframe-container small-screen">
            <div
              [innerHTML]="getSafeIframeUrl(publicacion.iframeLink300 ?? '')"
              class="divInterno"
            ></div>
          </div>
        </div>
        <button>Borrar</button>
      </div>
    </div>
  </div>
</div>
