.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 80vh;
  padding-top: 5rem;
  justify-content: center;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.ax{
  margin: 0.5rem;
}
