<div class="contenedor">
  <h2>Usuarios</h2>
  <div class="divSuperior">
    <div class="divInterno">
      <div class="divSuperior2">
        <p class="p">Imagen</p>
      </div>
      <div class="divSuperior2">
        <p class="p">Nombre</p>
      </div>
      <div class="divSuperior2">
        <p class="p">Editar</p>
      </div>
      <div class="divSuperior2">
        <p class="p">Eliminar</p>
      </div>
    </div>
  </div>
  <div *ngFor="let user of users" class="divConFor">
    <div class="divInterno">
      <div class="divSuperior2">
        <img src="{{ user.imagen }}" class="img" />
      </div>
      <div class="divSuperior2">
        <p class="name">{{ user.name }}</p>
      </div>
      <div class="divSuperior2">
        <i class="bi bi-pencil icons" (click)="onEditUser(user._id)"></i>
      </div>
      <div class="divSuperior2">
        <i class="bi bi-trash-fill icons" (click)="onDeleteUser(user._id)"></i>
      </div>
    </div>
  </div>
</div>
