.contenedor {
  min-height: 80vh;
  padding-top: 4rem;
}

.divsuperior {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: gray;
  padding: 1rem;
  align-items: center;
}

.img {

  height: 2rem;
  width: 2rem;

  margin: 0px 1rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
  cursor: pointer;
}

.img2 {
  height: 2rem;
  width: 2rem;
  margin: 0px 1rem;
  cursor: pointer;
}

.divInterno {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.bodyProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
}
