<div class="contenedor">
  <div *ngIf="loged">
    <div class="divsuperior" *ngIf="profile.name">
      <h3>{{ profile.name }}</h3>
      <div class="divInterno">
        <i
          class="bi bi-pencil"
          style="color: #0a58ca; font-size: 1.7rem; cursor: pointer"
          (click)="goEdit()"
        ></i>
        <img src="{{ profile.imagen }}" class="img" (click)="goDetails()" />
        <img
          (click)="logout()"
          width="100"
          height="100"
          class="img2"
          src="https://img.icons8.com/ios/50/exit--v1.png"
          alt="exit--v1"
        />
      </div>
    </div>
    <div class="bodyProfile">
      <h3>Bienvenido {{ profile.name }}</h3>
      <div class="divProfile">
        <p *ngIf="profile.role === 'publico'">
          Actualmente puedes acceder a ver la informacion publicada en la app,
          no tienes permisos para realizar modificaciones en la web.
        </p>
        <div *ngIf="profile.role === 'administrador'">
          <h2>Tu rol es de: Administrador</h2>
          <p>
            Tienes permiso para cargar datos, editar datos, ver usuarios
            registrados, bloquar usuarios, etc.
          </p>
        </div>
        <div *ngIf="profile.role === 'editor'">
          <h2>Tu rol es de: Editor</h2>
          <p>Tienes permiso para cargar datos de moviles y noticias.</p>
        </div>
        <div *ngIf="profile.role === 'bombero'">
          <h2>Tu rol es de: Bombero</h2>
          <p>Todavia no tienes permiso para cargar y editar datos a moviles.</p>
        </div>
        <button
          (click)="goPanel()"
          class="btn btn-primary"
          *ngIf="
            profile.role === 'administrador' ||
            profile.role === 'editor' ||
            profile.role === 'bombero'
          "
        >
          Ir al panel
        </button>
      </div>
      <button
        (click)="getUser()"
        *ngIf="goProfile && !profile.name"
        class="btn btn-primary"
      >
        Continuar
      </button>
    </div>
  </div>
</div>
