<div class="contenedor">
  <div *ngIf="loged">
    <div class="divsuperior" *ngIf="profile.name">
      <h3>{{ profile.name }}</h3>
      <div class="divInterno">
        <img src="{{ profile.imagen }}" class="img" />
        <img
          (click)="logout()"
          width="100"
          height="100"
          class="img"
          src="https://img.icons8.com/ios/50/exit--v1.png"
          alt="exit--v1"
        />
      </div>
    </div>
    <h2>Bienvenido</h2>
    <button (click)="getUser()" *ngIf="goProfile && !profile.name">
      Continuar
    </button>
  </div>
</div>
