<carousel [interval]="3000" class="slide">
  <slide *ngFor="let image of images" class="carousel-item">
    <div class="image-container">
      <img [src]="image.url" alt="Imagen de producto" class="img" />
      <div class="divInterno">
        <h2 class="title">{{ image.title }}</h2>
        <a
          *ngIf="image.description === 'email.ejemplo@gmail.com'"
          class="description"
          href="mailto:{{ image.description }}"
          >{{ image.description }}</a
        >
        <p
          *ngIf="image.description !== 'email.ejemplo@gmail.com'"
          class="description"
        >
          {{ image.description }}
        </p>
      </div>
    </div>
  </slide>
</carousel>
