.contenedor {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-height: 80vh;
  padding-top: 7rem;
}

.img {
  height: 5rem;
  width: 5rem;
  margin: 0px 1rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
  cursor: pointer;
}

.divSuperior {
  display: flex;
  width: 100%;
  align-items: center;
}

.icon {
  font-weight: bolder;
  font-size: 2.5rem;
  color: var(--text-color-secondary);
  cursor: pointer;
}

.divSuperior2 {
  margin: 2rem 0;

}

.divInputs2 {
  display: flex;
  flex-direction: column;
}

.divInputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.divSuperior3 {
  display: flex !important;
  align-items: center
}

.icon2 {
  font-weight: bolder;
  font-size: 1rem;
  color: var(--text-color-secondary);
  margin: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.inputs {
  width: 20rem;
  margin: 0 0 3rem;
}

.buttonMoviles {
  padding: 10px;
  background-color: var(--text-seguirLeyendo);
  color: #fff;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.2s ease-in-out;
  margin: 1rem
}

.buttonMoviles:hover {
  transition: background-color 0.2s ease-in-out;
  filter: opacity(0.8)
}

.textarea {
  min-height: 8rem;
}

.divInfo {
  display: flex;
  align-items: baseline;
}

.divInferior {
  margin-top: 3rem;
}


@media (min-width: 500px) {
  .divSuperior {
    width: 80%;
  }

  .contenedor {
    padding: 2rem;
    padding-top: 7rem;
  }


}

@media (min-width: 750px) {
  .divSuperior {
    width: 60%;

  }

  .contenedor {
    padding: 5rem;
    padding-top: 7rem;
  }
}

@media (max-width: 630px) {
  .divInfo {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}
