<div class="contenedor">
  <div *ngIf="user" class="div2">
    <h3>Editando usuario: {{ user.name }}</h3>
    <div class="div">
      <label>Nombre:</label>
      <input [(ngModel)]="user.name" type="text" class="form-control inputs" />

      <label>Correo electrónico:</label>
      <input
        [(ngModel)]="user.email"
        type="email"
        disabled
        class="form-control inputs"
      />

      <label>Rol:</label>
      <select
        [(ngModel)]="user.role"
        [disabled]="canEditRole()"
        class="form-select form-select mb-3 inputs"
        aria-label=".form-select-lg example"
      >
        <option *ngFor="let role of possibleRoles" [value]="role">
          {{ role }}
        </option>
      </select>
    </div>

    <button (click)="onSaveChanges()" class="buttonMoviles">Guardar cambios</button>
  </div>

  <div *ngIf="!user">
    <p>Cargando detalles del usuario...</p>
  </div>
</div>
