.contenedor {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  padding: 1rem;
  padding-top: 5rem;
}
.inputs{
  margin: 1rem 0 0;
}
.buttonMoviles {
  padding: 10px;
  background-color: var(--text-seguirLeyendo);
  color: #fff;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.2s ease-in-out;
  margin: 1rem
}

.buttonMoviles:hover {
  transition: background-color 0.2s ease-in-out;
  filter: opacity(0.8)
}
.div2{
  margin-top: 2rem;
}
