<div class="contenedor">
  <div class="contenedor2">
    <h2 style="text-align: center">Textos en Carrusel</h2>

    <div *ngIf="texts.length != 0">
      <div *ngFor="let text of texts; let i = index" class="divNgFor">
        <div class="divInterno">
          <div class="div2">
            <p class="p">Imagen {{ i + 1 }}</p>
            <img src="{{ text.url }}" class="img" />
          </div>
          <div class="div2">
            <p><strong>Texto Principal:</strong></p>
            <p>{{ text.title }}</p>
          </div>
          <button class="btn btn-primary button" (click)="goEdit(text._id)">
            Editar
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="texts.length == 0">
      <p>Actulmente no hay ninguna publicacion cargada</p>
    </div>
  </div>
</div>
