<div class="contenedor">
  <div>
    <h2>Historia</h2>
    <p>
      CUANTO MAS CRECIA LA LA LOCALIDAD, MAS HECHOS FORTUITOS SE SUCEDIAN. LA
      COMUNIDAD SE EXPANDIA Y ERA NECESARIO CONTAR CON UN ORGANISMO QUE PUDIERA
      DAR RESPUESTA A LAS DIVERSAS EMERGENCIAS QUE SE SUCEDIAN, CONSIDERANDO
      ADEMAS EL HECHO DE QUE LA LOCALIDAD ALBERGA UNA UNIDAD MILITAR QUE
      ALMACENA UNA INCREIBLE CANTIDAD DE MUNICION Y EXPLOSIVOS; SI BIEN, HASTA
      ENTONCES LA LOCALIDAD ERA CUBIERTA POR BBVV DE RIO CUARTO, ESTOS TENIAN
      UNA GRAN DEMANDA EN SU CIUDAD, COMO ASI TAMBIEN, LA DISTANCIA, ERAN
      OBSTACULOS QUE DEMOSTRABAN LA NECESIDAD DE CONTAR CON UNA ORGANIZACION
      BOMBERIL DOTADA Y EN CAPACIDAD DE CUMPLIR CON LOS REQUERIMIENTOS LOCALES.
      NO FUE, SI NO HASTA EL AÑO 1987, CUANDO UN GRUPO DE VECINOS CON ANSIAS Y
      PREOCUPACION POR EL BIENESTAR DE SU COMUNIDAD, INICIARON EL CAMINO PARA LA
      CONCRECION Y CREACION DE UN CUARTEL DE BOMBEROS VOLUNTARIOS; EL CUAL
      FINALMENTE VIERA LA LUZ EL 3 DE DICIEMBRE DEL MISMO AÑO. DESDE ENTONCES,
      MUCHOS HOMBRES HAN PASADO, YA FUERA COMO DIRECTIVOS O BOMBEROS, TODOS CON
      EL MISMO OBJETIVO, SERVIR A LA COMUNIDAD. LA INSTITUCION, FUE CRECIENDO,
      SIENDO EL BATALLON DE ARSENALES 604 DEL EJERCITO ARGENTINO UN COLABORADOR
      EN ESTA EMPRESA; DE HECHO, LA PRIMER AUTOBOMBA CON LA QUE LA INSTITUCION
      CONTARA, ERA PRECISAMENTE UN AUTOBOMBA MILITAR. TAMBIEN LO FUERON LOS
      PRIMEROS UNIFORMES USADOS POR LOS BOMBEROS., ERAN UNIFORMES DE FAJINA Y
      BORSEGUIES PROVISTO POR EL BATALLON. CONFORME TRANSCURRIA EL TIEMPO, LA
      INSTITUCION CRECIA, A PASO LENTO PERO SEGURO. NO FUE FACIL, PERO SE LOGRO
      ADQUIRIR LA PRIMER AUTOBOMBA PROPIA, EL EDIFICIO DE CUARTEL, Y DE A POCO,
      TODA LA ESTRUCTURA TANGIBLE SE FUE CONSTRUYENDO, HASTA LLEGAR A LA
      ACTUALIDAD, UN PRESENTE QUE MUESTRA UN CUARTEL QUE BRINDA EL CONFORT
      NECESARIO PARA SUS HOMBRES, UNA CAPACIDAD OPERATIVA A LA ALTURA DE LAS
      NECESIDADES, UN GRUPO HUMANO CON ANSIAS DE CONSTANTE SUPERACION, UN PARQUE
      AUTOMOTOR EQUIPADO Y MODERNIZADO, Y LO MAS IMPORTANTE, LA MOTIVACION, LA
      INICIATIVA Y LAS GANAS DE SERVIR LEGADA POR LOS FUNDADORES, TOTALMENTE
      INTACTA O MAS BIEN, POTENCIADA. COMO REZA NUESTRO LEMA: "...BOMBERO Y
      VOLUNTARIO...SIEMPRE!!!!!"
    </p>
  </div>
</div>
