<div class="contenedor">
  <div>
    <h2>Nuestra Historia</h2>
    <p>
      La sociedad de Bomberos Voluntarios de Santa Catalina-Holmberg tiene una
      rica historia que se remonta a sus inicios en 1987. A medida que nuestra
      localidad crecía, los hechos fortuitos se sucedían con mayor frecuencia.
      La comunidad se expandía y era necesario contar con un organismo capaz de
      brindar respuesta a las diversas emergencias, especialmente considerando
      que nuestra localidad alberga una unidad militar que almacena una
      increíble cantidad de munición y explosivos.
      <br />
      <br />
      Hasta entonces, la cobertura de emergencias estaba a cargo de los Bomberos
      Voluntarios de Río Cuarto. Sin embargo, su gran demanda en su propia
      ciudad y la distancia se convirtieron en obstáculos que demostraban la
      necesidad de contar con una organización bomberil local equipada y
      capacitada para satisfacer los requerimientos de nuestra comunidad.
      <br />
      <br />
      Fue en el año 1987 cuando un grupo de vecinos, preocupados por el
      bienestar de la comunidad, iniciaron el camino para la creación de un
      Cuartel de Bomberos Voluntarios. Finalmente, el 3 de diciembre de ese
      mismo año, vio la luz nuestro cuartel.
      <br />
      <br />
      Desde entonces, muchos hombres han pasado por nuestras filas, ya sea como
      directivos o bomberos, todos con el mismo objetivo: servir a la comunidad.
      La institución ha ido creciendo a paso lento pero seguro. El Batallón de
      Arsenales 604 del Ejército Argentino ha sido un colaborador en esta
      empresa, proporcionando la primera autobomba con la que contamos, que era
      precisamente una autobomba militar. También los primeros uniformes usados
      por los bomberos fueron suministrados por el batallón, eran uniformes de
      faena y borseguíes.
      <br />
      <br />
      Con el tiempo, el cuartel se fue desarrollando gradualmente. No fue fácil,
      pero logramos adquirir nuestra primera autobomba propia, el edificio del
      cuartel y poco a poco construir toda la estructura necesaria. Llegamos a
      la actualidad con un cuartel que brinda el confort necesario para nuestros
      hombres, una capacidad operativa a la altura de las necesidades, un grupo
      humano con ansias de superación constante, un parque automotor equipado y
      modernizado, y lo más importante: la motivación, la iniciativa y las ganas
      de servir legadas por nuestros fundadores, totalmente intactas o más bien,
      potenciadas.
      <br />
      <br />
      Como reza nuestro lema: "...¡Bombero y Voluntario... Siempre!".
    </p>
  </div>
</div>
