.contenedor {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-height: 80vh;
  padding-top: 5rem;
}

.img {
  height: 5rem;
  width: 5rem;
  margin: 0px 1rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
  cursor: pointer;
}

.divSuperior {
  display: flex;
  width: 100%;
  align-items: center;
}

.icon {
  font-weight: bolder;
  font-size: 2.5rem;
  color: var(--text-color-secondary);
  cursor: pointer;
}
.divsuperior2{
  display: flex;
  align-items: center;
}

@media (min-width: 500px) {
  .divSuperior {
    width: 80%;
  }
  .contenedor{
    padding: 2rem;
  }
}

@media (min-width: 750px) {
  .divSuperior {
    width: 60%;

  }
  .contenedor{
    padding: 5rem;
  }
}
