<nav class="nav">
  <img />
  <h2 (click)="goHome()">Inicio</h2>
  <h2 (click)="goNews()">Noticias</h2>
  <h2 (click)="goContacts()">Contacto</h2>
  <h2 (click)="goProfile()">Perfil</h2>
  <div>
    <h2>redes</h2>
  </div>
  <i></i>
  <img
    *ngIf="themeLocal"
    width="50"
    height="50"
    src="https://img.icons8.com/ios-glyphs/30/sun--v1.png"
    alt="sun--v1"
    (click)="toggleTheme()"
  />
  <img
    *ngIf="!themeLocal"
    width="50"
    height="50"
    src="https://img.icons8.com/ios-filled/50/bright-moon.png"
    alt="bright-moon"
    (click)="toggleTheme()"
  />
</nav>
