<nav class="nav">
  <div>
    <img />
    <h2 (click)="goHome()" class="textLink">Inicio</h2>
    <h2 (click)="goNews()" class="textLink">Noticias</h2>
    <h2 (click)="goContacts()" class="textLink">Contacto</h2>
    <h2 (click)="goProfile()" class="textLink">Perfil</h2>
  </div>
  <div>
    <i class="fab fa-instagram"></i>
    <i class="fa-brands fa-facebook"></i>
  </div>
  <div>
    <i *ngIf="!themeLocal" class="bi bi-moon-stars" (click)="toggleTheme()"></i>

    <i
      *ngIf="themeLocal"
      class="bi bi-brightness-high-fill"
      (click)="toggleTheme()"
    ></i>
  </div>
</nav>
