<nav class="nav">
  <div>
    <img />
    <h2 (click)="goHome()">Inicio</h2>
    <h2 (click)="goNews()">Noticias</h2>
    <h2 (click)="goContacts()">Contacto</h2>
    <h2 (click)="goProfile()">Perfil</h2>
  </div>
  <div>
    <i class="fab fa-instagram"></i>
    <i class="fa-brands fa-facebook"></i>
  </div>
  <div>
    <i *ngIf="!themeLocal" class="bi bi-moon-stars" (click)="toggleTheme()"></i>

    <i
      *ngIf="themeLocal"
      class="bi bi-brightness-high-fill"
      (click)="toggleTheme()"
    ></i>
  </div>
</nav>
