<footer class="footer">
  <div class="divRedesYhr">
    <div class="buttons">
      <a
        href="https://www.instagram.com/bomberosvoluntariosstacatalina/"
        target="_blank"
        class="a"
      >
        <i class="fab fa-instagram iconRed"></i
      ></a>
      <a
        href="https://www.facebook.com/bomberosvoluntarios.stacatalinaholmberg"
        target="_blank"
        class="a"
      >
        <i class="fa-brands fa-facebook iconRed"></i
      ></a>
    </div>
    <hr class="hr" />
  </div>
  <div>
    <img src="../../assets/Logo.svg" class="imgLogo" />
  </div>
  <div class="divInfo">
    <h4>bvsc.vercel.app</h4>
    <p class="p">
      <a href="https://ondev.vercel.app/" target="_blank" class="a ondev"
        >Diseño realizado por Ondev para Asoc. Bomberos Voluntarios de Santa
        Catalina.</a
      >
    </p>
  </div>
</footer>
