.hr {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 400px;
  width: 80%;
  border-top: 2px solid var(--text-color-footer)
}

.imgLogo {
  height: 100px;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--text-color-footer);
  background-color: var(--footer-background-color);
}

.iconRed {
  font-size: 2rem;
  margin: 1rem;
}

.divRedesYhr {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.divInfo {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.p {
  text-align: center;
}

.a {
  text-decoration: none !important;
  cursor: pointer;
}

.a:link {
  text-decoration: none;
  color: var(--text-color-footer);
}

.a:visited {
  text-decoration: none;
  color: var(--text-color-footer);
}

.a:hover {
  color: var(--text-color-secondary);
}


.ondev{
  cursor: pointer;
  color: var(--text-color-secondary);
}
