<div class="contenedor">
  <app-carrusel />
  <!-- <div>
    <app-vehicles />
  </div> -->
  <div>
    <h3>Nuestra Historia</h3>
    <p>
      Los Bomberos Voluntarios de Santa Catalina - Holmberg, fundados en 1987,
      son héroes que protegen a la comunidad de incendios y emergencias. Su
      cuartel está en Santa Catalina, Córdoba, y se dedican a...
      <a class="buttonGoHistory" (click)="goHistory()">Seguir Leyendo</a>
    </p>
    <button (click)="goMoviles()">Moviles</button>
  </div>
</div>
