.contenedor {
  min-height: 80vh;
  padding-top: 5rem;
}

.buttonGoHistory {
  color: var(--text-seguirLeyendo);
  font-size: large;
  text-decoration-line: none;
  font-weight: 600;
  cursor: pointer;
}
