<div class="contenedor">
  <app-carrusel />
  <div class="contenedor2">
    <h3>Nuestra Historia</h3>
    <p>
      La sociedad de Bomberos Voluntarios de Santa Catalina-Holmberg tiene una
      rica historia que se remonta a sus inicios en 1987. A medida
      que nuestra localidad crecía, los hechos fortuitos se sucedían con mayor
      frecuencia. La comunidad se expandía y era necesario contar con un
      organismo capaz de brindar respuesta a las diversas emergencias,
      especialmente considerando que nuestra localidad alberga una unidad
      militar que almacena una increíble cantidad...
      <a class="buttonGoHistory" (click)="goHistory()">Seguir Leyendo</a>
    </p>
    <button (click)="goMoviles()">Moviles</button>
  </div>
</div>
