<div class="contenedor">
  <app-carrusel />
  <div class="contenedor2">
    <h3>Nuestra Historia</h3>
    <p>
      La sociedad de Bomberos Voluntarios de Santa Catalina-Holmberg tiene una
      rica historia que se remonta a sus inicios en 1987. A medida que nuestra
      localidad crecía, los hechos fortuitos se sucedían con mayor frecuencia.
      La comunidad se expandía y era necesario contar con un organismo capaz de
      brindar respuesta a las diversas emergencias, especialmente considerando
      que nuestra localidad alberga una unidad militar que almacena una
      increíble cantidad...
      <a class="buttonGoHistory" (click)="goHistory()">Seguir Leyendo</a>
    </p>
  </div>
  <div class="contenedor2">
    <h3>Nuestra Mision</h3>
    <p>
      Nuestra misión actual es proporcionar transparencia e información a la
      comunidad. Queremos mantenerte al tanto de las últimas publicaciones e
      información relevante, así como de los movimientos de nuestros equipos
      operativos. A continuación, encontrarás enlaces para acceder a estas
      actualizaciones. ¡Explóralos y mantente informado!
    </p>
    <div class="divBotones">
      <button (click)="goMoviles()" class="buttonMoviles">Ver Moviles</button>
      <button (click)="goNews()" class="buttonMoviles">Ver Noticias</button>
    </div>
  </div>
</div>
