.contenedor {
  min-height: 80vh;
  padding-top: 5rem;
}

.buttonGoHistory {
  color: var(--text-seguirLeyendo);
  font-size: large;
  text-decoration-line: none;
  font-weight: 600;
  cursor: pointer;
}

.contenedor2 {
  padding: 1rem;
}

.buttonMoviles {
  padding: 10px;
  background-color: var(--text-seguirLeyendo);
  color: #fff;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.2s ease-in-out;
  margin:  1rem
}

.buttonMoviles:hover {
  transition: background-color 0.2s ease-in-out;
  filter: opacity(0.8)
}
.divBotones{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
