.claro-theme {
  --background-color: white;
  --text-color: black;
  --background-color-nav: black;
  --text-color-nav: white;
  --text-color-secondary:#fdc501
}

.oscuro-theme {
  --background-color: #0F1215;
  --text-color: white;
  --background-color-nav: white;
  --text-color-nav: black;
  --text-color-secondary:#fdc501
}

.bodyInAPP {
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}
