<div class="contenedor">
  <h2>Publicaciones</h2>
  <div *ngIf="publicaciones.length != 0">
    <div *ngFor="let publicacion of publicaciones" class="divNgFor">
      <div class="responsive-iframe-container large-screen">
        <div
          [innerHTML]="getSafeIframeUrl(publicacion.iframeLink500 ?? '')"
          class="divInterno"
        ></div>
      </div>
      <div class="responsive-iframe-container medium-screen">
        <div
          [innerHTML]="getSafeIframeUrl(publicacion.iframeLink400 ?? '')"
          class="divInterno"
        ></div>
      </div>
      <div class="responsive-iframe-container small-screen">
        <div
          [innerHTML]="getSafeIframeUrl(publicacion.iframeLink300 ?? '')"
          class="divInterno"
        ></div>
      </div>
    </div>
  </div>
  <div *ngIf="publicaciones.length == 0">
    <p>Actualmente no hay ninguna noticias cargada</p>
  </div>
</div>
