.contenedor {
  min-height: 80vh;
  padding: 1rem;
  padding-top: 7rem;
  padding-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  justify-content: space-evenly;
}

.img {
  max-width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 1rem;
}

.contenedorDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.contenedorDiv2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
