<div class="contenedor">
  <div class="contenedorDiv">
    <div>
      <img src="{{ vehicleId.image }}" alt="a" class="img" />
    </div>
    <div>
      <h2>{{ vehicleId.type }}</h2>
      <h3>{{ vehicleId.brand }}</h3>
      <h3>{{ vehicleId.model }}</h3>
      <h5>Modelo: {{ vehicleId.year }}</h5>
    </div>
  </div>
  <div class="contenedorDiv2">
    <h2>Información adicional</h2>
    <div>
      <h5>Último Manteniemiento Programado:</h5>
      <div *ngIf="vehicleId.lastServiceProgramed.length">
        <p>
          Fecha:
          {{
            vehicleId.lastServiceProgramed[
              vehicleId.lastServiceProgramed.length - 1
            ].fecha
          }}
        </p>
        <p>
          Descripción:
          {{
            vehicleId.lastServiceProgramed[
              vehicleId.lastServiceProgramed.length - 1
            ].descripcion
          }}
        </p>
      </div>
      <p *ngIf="!vehicleId.lastServiceProgramed.length">
        No se ingreso información.
      </p>
    </div>
    <div>
      <h5>Último Manteniemiento:</h5>
      <div *ngIf="vehicleId.lastMaintenance.length">
        <p>
          Fecha:
          {{
            vehicleId.lastMaintenance[vehicleId.lastMaintenance.length - 1]
              .fecha
          }}
        </p>
        <p>
          Descripción:
          {{
            vehicleId.lastMaintenance[vehicleId.lastMaintenance.length - 1]
              .descripcion
          }}
        </p>
      </div>
      <p *ngIf="!vehicleId.lastMaintenance.length">
        No se ingreso información.
      </p>
    </div>
    <div>
      <h5>Última Recarga de combustible:</h5>
      <div *ngIf="vehicleId.lastRecharge.length">
        <p>
          Fecha:
          {{ vehicleId.lastRecharge[vehicleId.lastRecharge.length - 1].fecha }}
        </p>
        <p>
          Descripción:
          {{
            vehicleId.lastRecharge[vehicleId.lastRecharge.length - 1]
              .descripcion
          }}
        </p>
      </div>
      <p *ngIf="!vehicleId.lastRecharge.length">No se ingreso información.</p>
    </div>
    <div>
      <h5>Último cambio de batería:</h5>
      <div *ngIf="vehicleId.lastBatteryChange.length">
        <p>
          Fecha:
          {{
            vehicleId.lastBatteryChange[vehicleId.lastBatteryChange.length - 1]
              .fecha
          }}
        </p>
        <p>
          Descripción:
          {{
            vehicleId.lastBatteryChange[vehicleId.lastBatteryChange.length - 1]
              .descripcion
          }}
        </p>
      </div>
      <p *ngIf="!vehicleId.lastBatteryChange.length">
        No se ingreso información.
      </p>
    </div>
    <div>
      <button (click)="goInfo(vehicleId._id)" class="button">Ver mas información</button>
      <button (click)="goUpdate(vehicleId._id)" class="button">Cargar Datos</button>
    </div>
  </div>
</div>
