<div class="contenedor">
  <div class="contenedorDiv">
    <div>
      <img src="{{ vehicleId.image }}" alt="a" class="img" />
    </div>
    <div>
      <h2>{{ vehicleId.type }}</h2>
      <h3>{{ vehicleId.brand }}</h3>
      <h3>{{ vehicleId.model }}</h3>
      <h5>Modelo: {{ vehicleId.year }}</h5>
    </div>
  </div>
  <div class="contenedorDiv2">
    <h2>Informacion adicional</h2>
    <div>
      <label>Ultimo Manteniemiento Programado:</label>
      <p>{{ vehicleId.lastServiceProgramed }}</p>
    </div>
    <div>
      <label>Ultimo Manteniemiento:</label>
      <p>{{ vehicleId.lastMaintenance }}</p>
    </div>
    <div>
      <label>Ultima Recarga de combustible:</label>
      <p>{{ vehicleId.lastRecharge }}</p>
    </div>
  </div>
</div>
