.contenedor {
  min-height: 80vh;
  padding: 1rem;
  padding-top: 7rem;
  padding-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  justify-content: space-evenly;
}

.img {
  max-width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 1rem;
}

.contenedorDiv {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.icon {
  font-weight: bolder;
  font-size: 2.5rem;
  color: var(--text-color-secondary);
  cursor: pointer;
  margin: 0 1rem;

}

.divSuperior {
  display: flex;
  width: 100%;
  align-items: center;
}

.contenedorDiv2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin: 1rem;
}

.button {
  padding: 10px;
  background-color: var(--text-seguirLeyendo);
  color: #fff;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.2s ease-in-out;
  margin: 1rem
}

.button:hover {
  transition: background-color 0.2s ease-in-out;
  filter: opacity(0.8)
}

.info {
  margin-top: 2rem;
}

@media (min-width: 500px) {
  .info {
    font-size: 2rem;
  }
}

@media (min-width: 750px) {
  .info {
    font-size: 2.5rem;
  }
}
