.contenedor {
  min-height: 80vh;
  display: flex;
  padding: 3rem;
  padding-top: 5rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.div {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

@media (min-width: 600px) {
  .div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
