<div class="contenedor">
  <h2>Este es el panel, puedes acceder a realizar modificaciones</h2>
  <div class="div">
    <button (click)="goUsers()" class="btn btn-primary btn-large m-2 p-2" *ngIf="myUser  === 'administrador' ">
      Usuarios
    </button>
    <button (click)="goNewPost()" class="btn btn-primary btn-large m-2 p-2">
      Publicaciones
    </button>
    <button (click)="goMovil()" class="btn btn-primary btn-large m-2 p-2">
      Moviles
    </button>
    <button (click)="goMovil()" class="btn btn-primary btn-large m-2 p-2">
      Cambiar texto
    </button>
  </div>
</div>
