.claro-theme {
  --background-color: white;
  --text-color: black;
  --background-color-nav: black;
  --text-color-nav: white;
}

.oscuro-theme {
  --background-color: black;
  --text-color: white;
  --background-color-nav: white;
  --text-color-nav: black;
}

.bodyInAPP {
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}
