.nav {
  background-color: var(--background-color-nav);
  color: var(--text-color-nav);

}

.nav2 {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.logoNav {
  height: 4rem;
}

.textLink {
  text-transform: uppercase;
  margin: 0 0.5rem;
}



.textLink:hover {
  cursor: pointer;
  color: var(--text-color-secondary);
}

.a {
  text-decoration: none !important;
  cursor: pointer;
}

.a:link {
  text-decoration: none;
  color: var(--text-color-nav);
}

.a:visited {
  text-decoration: none;
  color: var(--text-color-nav);
}

.a:hover {
  color: var(--text-color-secondary);
}



.iconRed {
  font-size: 2rem;
  margin: 1rem;
}

.iconTheme {
  cursor: pointer;
}

/* medias de menu hamburguesa */
.links {
  display: none;
}

@media screen and (min-width: 750px) {
  .links {
    display: flex;
    align-items: center;
  }

  .nav {
    padding: 2rem 1rem;
  }

  #hamburgerMenu {
    display: none;
  }
}

@media screen and (min-width: 750px) and (max-width: 800px) {
  .buttons {
    display: flex;
    align-items: center;
  }
  .iconRed{
    margin: 0.5rem;
  }
}
