<div>
  <h2>Iniciar Sesion</h2>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="formData.email"
        required
      />
    </div>
    <div>
      <label for="password">Contraseña:</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="formData.password"
        required
      />
    </div>
    <button type="submit">Iniciar sesión</button>
    <p>
      No tienes cuenta?
      <a (click)="goRegister()" id="signup-link">Registrate</a>
    </p>
  </form>
</div>
