<div class="contenedor">
  <div class="divPrincipal">
    <h2>Iniciar Sesion</h2>
  </div>
  <form (ngSubmit)="onSubmit()">
    <div class="divinputs">
      <label for="email" class="label">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        class="input"
        [(ngModel)]="formData.email"
        required
      />
    </div>
    <div class="divinputs">
      <label for="password" class="label">Contraseña:</label>
      <input
        type="password"
        id="password"
        name="password"
        class="input"
        [(ngModel)]="formData.password"
        required
      />
    </div>
    <div class="divinputs">
      <button type="submit" class="button">Iniciar sesión</button>
    </div>
    <p class="text">
      No tienes cuenta?
      <a (click)="goRegister()" id="signup-link" class="go">Registrate</a>
    </p>
  </form>
</div>
