<div class="contenedor">
  <h2>Plantilla de Contacto</h2>

  <form>
    <div class="divForm">
      <input
        type="text"
        id="contactName"
        placeholder="Nombre Completo"
        class="input"
      />
    </div>
    <div class="divForm">
      <input
        type="email"
        id="contactEmail"
        placeholder="Email"
        class="input"
      />
    </div>
    <div class="divForm">
      <input
        type="text"
        id="contactEmail"
        placeholder="Asunto"
        class="input"
      />
    </div>
    <div class="divForm">
      <textarea
        id="contactMessage"
        placeholder="Mensaje"
        class="input"
      ></textarea>
    </div>
    <div class="divForm">
      <button type="submit" class="button">Enviar</button>
    </div>
  </form>
  <app-maps></app-maps>
</div>
