<div class="contenedor">
  <h2>Plantilla de Contacto</h2>

  <form>
    <div class="divForm">
      <label for="contactName">Nombre</label>
      <input
        type="text"
        id="contactName"
        placeholder="Ingrese su Nombre"
        class="input"
      />
    </div>
    <div class="divForm">
      <label for="contactEmail">Email</label>
      <input
        type="email"
        id="contactEmail"
        placeholder="Ingrese su Email"
        class="input"
      />
    </div>
    <div class="divForm">
      <label for="contactMessage">Mensaje</label>
      <textarea
        id="contactMessage"
        placeholder="Ingrese su Mensaje"
        class="input"
      ></textarea>
    </div>
    <div class="divForm">
      <button type="submit">Enviar</button>
    </div>
  </form>
  <app-maps></app-maps>
</div>
