.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  padding-top: 5rem;
}

.divs {
  width: 100%;
  margin-bottom: 2rem;
}

w .h2 {
  margin: 2rem 0;
}

.divForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input {
  display: block;
  padding: 18px 20px;
  margin-bottom: 12px;
  border: 0;
  outline: none;
  color: var(--text-contact);
  font-family: "raleway-bold", sans-serif;
  font-size: 15px;
  line-height: 24px;
  border-radius: 3px;
  max-width: 100%;
  background: var(--background-text-contact);
  transition: all 0.3s ease-in-out;
}

.input:focus {
  background-color: var(--contact-background-focus);
  color: var(--text-contact-focus);
}

.button {
  padding: 10px;
  background-color: #fdc501;
  color: black;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  filter: brightness(0.8);
}

@media screen and (min-width: 768px) {
  .contenedor {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 7rem;
  }

  .divs {
    width: 48%;
    margin-bottom: 0;
  }
}

.button {
  /* ... otros estilos ... */
  background-color: #fdc501;
  /* ... otros estilos ... */
}

.button:disabled {
  background-color: #f0e68c;
  /* Cambia el color aquí al que desees cuando el botón está deshabilitado */
  cursor: not-allowed;
  /* Cambia el cursor a "not-allowed" para indicar que el botón no está activo */
}

.button:hover:not(:disabled) {
  filter: brightness(0.8);
}
