.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem;
  min-height: 80vh;
  padding-top: 5rem;
  justify-content: center;
}

.img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 1rem;
  margin: 1rem;
}


.icon {
  font-weight: bolder;
  font-size: 2.5rem;
  color: var(--text-color-secondary);
  cursor: pointer;
  margin: 0 1rem 0 0;
}

.div2 {
  display: flex;
  align-items: center;
}

.form {
  min-width: 100%
}
.inputs{
  min-width: 25rem;
  margin: 1rem 0
}
.div{
  margin: 2rem;
}
@media (min-width:900px) {
  .contenedor {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
