<div class="contenedor">
  <div class="div">
    <div class="div2">
      <i class="bi bi-arrow-left icon" (click)="goBack()"></i>
      <h2>Slide</h2>
    </div>
    <img src="{{ text.url }}" class="img" />
    <h4><strong>Texto Principal:</strong> {{ text.title }}</h4>
    <h5><strong>Descripcion:</strong> {{ text.description }}</h5>
  </div>
  <div class="div">
    <form (submit)="updateText()" class="form">
      <label for="title"><strong>Texto Principal</strong></label>
      <input
        [(ngModel)]="text.title"
        name="title"
        type="text"
        class="form-control form-control-lg inputs"
      />
      <label for="description"><strong>Texto Secundario</strong></label>
      <textarea
        [(ngModel)]="text.description"
        class="form-control form-control-lg inputs"
        name="description"
      ></textarea>
      <button type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
    </form>
  </div>
</div>
